<a href="https://colab.research.google.com/github/Juan1mera/dap-2024/blob/main/les04/Rep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd

# 1. Создание DataFrame с PassengerId в качестве индекса
df = pd.read_csv('titanic.csv', index_col='PassengerId')

Описание данных:
          Survived      Pclass                 Name   Sex         Age  \
count   891.000000  891.000000                  891   891  714.000000
unique         NaN         NaN                  891     2         NaN
top            NaN         NaN  Dooley, Mr. Patrick  male         NaN
freq           NaN         NaN                    1   577         NaN
mean      0.383838    2.308642                  NaN   NaN   29.699118
std       0.486592    0.836071                  NaN   NaN   14.526497
min       0.000000    1.000000                  NaN   NaN    0.420000
25%       0.000000    2.000000                  NaN   NaN   20.125000
50%       0.000000    3.000000                  NaN   NaN   28.000000
75%       1.000000    3.000000                  NaN   NaN   38.000000
max       1.000000    3.000000                  NaN   NaN   80.000000

             SibSp       Parch  Ticket        Fare Cabin Embarked
count   891.000000  891.000000     891  891.000000   204      889
unique         NaN         NaN     681         NaN   147        3
top            NaN         NaN  347082         NaN    G6        S
freq           NaN         NaN       7         NaN     4      644
mean      0.523008    0.381594     NaN   32.204208   NaN      NaN
std       1.102743    0.806057     NaN   49.693429   NaN      NaN
min       0.000000    0.000000     NaN    0.000000   NaN      NaN
25%       0.000000    0.000000     NaN    7.910400   NaN      NaN
50%       0.000000    0.000000     NaN   14.454200   NaN      NaN
75%       1.000000    0.000000     NaN   31.000000   NaN      NaN
max       8.000000    6.000000     NaN  512.329200   NaN      NaN

2. Просмотрите первые 6 строк

In [5]:
print("\nПервые 6 строк:")
print(df.head(6))

Первые 6 строк:
             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
6                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
6                                             Moran, Mr. James    male   NaN

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
6                0      0            330877   8.4583   NaN        Q

3. Описание данных

In [6]:
print("\nОписание данных:")
print(df.describe(include='all'))

Описание данных:
          Survived      Pclass                 Name   Sex         Age  \
count   891.000000  891.000000                  891   891  714.000000
unique         NaN         NaN                  891     2         NaN
top            NaN         NaN  Dooley, Mr. Patrick  male         NaN
freq           NaN         NaN                    1   577         NaN
mean      0.383838    2.308642                  NaN   NaN   29.699118
std       0.486592    0.836071                  NaN   NaN   14.526497
min       0.000000    1.000000                  NaN   NaN    0.420000
25%       0.000000    2.000000                  NaN   NaN   20.125000
50%       0.000000    3.000000                  NaN   NaN   28.000000
75%       1.000000    3.000000                  NaN   NaN   38.000000
max       1.000000    3.000000                  NaN   NaN   80.000000

             SibSp       Parch  Ticket        Fare Cabin Embarked
count   891.000000  891.000000     891  891.000000   204      889
unique         NaN         NaN     681         NaN   147        3
top            NaN         NaN  347082         NaN    G6        S
freq           NaN         NaN       7         NaN     4      644
mean      0.523008    0.381594     NaN   32.204208   NaN      NaN
std       1.102743    0.806057     NaN   49.693429   NaN      NaN
min       0.000000    0.000000     NaN    0.000000   NaN      NaN
25%       0.000000    0.000000     NaN    7.910400   NaN      NaN
50%       0.000000    0.000000     NaN   14.454200   NaN      NaN
75%       1.000000    0.000000     NaN   31.000000   NaN      NaN
max       8.000000    6.000000     NaN  512.329200   NaN      NaN

4. Сколько мужчин / женщин находилось на борту?

In [10]:
print("\nКоличество мужчин и женщин:")
print(df['Sex'].value_counts())

Количество мужчин и женщин:
Sex
male      577
female    314
Name: count, dtype: int64

4. Выведите распределение переменной Pclass (социально-экономический статус) и это же распределение, только для мужчин / женщин по отдельности. Сколько было мужчин 2-го класса

In [11]:
print("\nРаспределение по Pclass (общее):")
print(df['Pclass'].value_counts())
print("\nРаспределение по Pclass (мужчины):")
print(df[df['Sex'] == 'male']['Pclass'].value_counts())
print("\nРаспределение по Pclass (женщины):")
print(df[df['Sex'] == 'female']['Pclass'].value_counts())
# Количество мужчин 2-го класса
men_second_class = df[(df['Sex'] == 'male') & (df['Pclass'] == 2)].shape[0]
print(f"\nКоличество мужчин 2-го класса: {men_second_class}")

Распределение по Pclass (общее):
Pclass
3    491
1    216
2    184
Name: count, dtype: int64

Распределение по Pclass (мужчины):
Pclass
3    347
1    122
2    108
Name: count, dtype: int64

Распределение по Pclass (женщины):
Pclass
3    144
1     94
2     76
Name: count, dtype: int64

Количество мужчин 2-го класса: 108

5. Каковы медиана и среднеквадрати́чное отклонение платежей (Fare)? Округлите до 2 десятичных знаков.

In [16]:
print("\nМедиана и стандартное отклонение Fare:")
print(f"Медиана: {df['Fare'].median():.2f}")
print(f"Стандартное отклонение: {df['Fare'].std():.2f}")

Медиана и стандартное отклонение Fare:
Медиана: 14.45
Стандартное отклонение: 49.69

6. Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет? Каковы доли выживших в обеих группах?

In [17]:
young_survival = df[df['Age'] < 30]['Survived'].mean()
old_survival = df[df['Age'] > 60]['Survived'].mean()
print("\nДоли выживших:")
print(f"Моложе 30 лет: {young_survival:.2%}")
print(f"Старше 60 лет: {old_survival:.2%}")
print(f"Люди моложе 30 выживали чаще: {young_survival > old_survival}")

Доли выживших:
Моложе 30 лет: 40.62%
Старше 60 лет: 22.73%
Люди моложе 30 выживали чаще: True

7. Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?

In [18]:
male_survival = df[df['Sex'] == 'male']['Survived'].mean()
female_survival = df[df['Sex'] == 'female']['Survived'].mean()
print("\nДоли выживших по полу:")
print(f"Мужчины: {male_survival:.2%}")
print(f"Женщины: {female_survival:.2%}")
print(f"Женщины выживали чаще: {female_survival > male_survival}")

Доли выживших по полу:
Мужчины: 18.89%
Женщины: 74.20%
Женщины выживали чаще: True

8. Найдите самое популярное имя среди пассажиров Титаника мужского пола?

In [19]:
male_names = df[df['Sex'] == 'male']['Name'].str.extract(r', Mr\. (\w+)')[0]
popular_name = male_names.value_counts().index[0]
print(f"\nСамое популярное мужское имя: {popular_name}")

Самое популярное мужское имя: William

9. Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания? Выберите верные утверждения:

В среднем мужчины 1-го класса старше 40 лет В среднем женщины 1-го класса старше 40 лет Мужчины всех классов в среднем старше женщин того же класса В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса

In [22]:
print("\nСредний возраст по полу и классу:")
age_by_class_sex = df.groupby(['Pclass', 'Sex'])['Age'].mean()
print(age_by_class_sex)

# Проверка утверждений
mean_age_male_1class = age_by_class_sex[1, 'male']
mean_age_female_1class = age_by_class_sex[1, 'female']
print("\nПроверка утверждений:")
print(f"Мужчины 1-го класса старше 40: {mean_age_male_1class > 40}")
print(f"Женщины 1-го класса старше 40: {mean_age_female_1class > 40}")
print(f"Мужчины старше женщин в каждом классе: "
      f"{all(age_by_class_sex[pclass, 'male'] > age_by_class_sex[pclass, 'female'] for pclass in [1,2,3])}")
print(f"Средний возраст убывает от 1-го к 3-му классу: "
      f"{df.groupby('Pclass')['Age'].mean()[1] > df.groupby('Pclass')['Age'].mean()[2] > df.groupby('Pclass')['Age'].mean()[3]}")

Средний возраст по полу и классу:
Pclass  Sex
1       female    34.611765
        male      41.281386
2       female    28.722973
        male      30.740707
3       female    21.750000
        male      26.507589
Name: Age, dtype: float64

Проверка утверждений:
Мужчины 1-го класса старше 40: True
Женщины 1-го класса старше 40: False
Мужчины старше женщин в каждом классе: True
Средний возраст убывает от 1-го к 3-му классу: True

10. Сравните возраст у спасенных и у погибших пасажиров. Средний возраст погибших выше, верно?

In [21]:
mean_age_survived = df[df['Survived'] == 1]['Age'].mean()
mean_age_died = df[df['Survived'] == 0]['Age'].mean()
print("\nСредний возраст:")
print(f"Спасенные: {mean_age_survived:.2f}")
print(f"Погибшие: {mean_age_died:.2f}")
print(f"Средний возраст погибших выше: {mean_age_died > mean_age_survived}")

Средний возраст:
Спасенные: 28.34
Погибшие: 30.63
Средний возраст погибших выше: True

# Вопросы и ответы по Pandas

## 1. Что такое медиана? Рассчитать медиану для предложенного ряда чисел.
**Медиана** — это значение, которое делит упорядоченный набор данных на две равные части: половина значений меньше медианы, а другая половина больше.  
Для расчета медианы в Pandas используется метод `.median()`.

Пример:
```python
import pandas as pd

data = pd.Series([1, 2, 3, 4, 5])
median = data.median()  # Результат: 3
```

---

## 2. Что такое дисперсия? Рассчитать дисперсию для предложенного ряда чисел.
**Дисперсия** — это мера разброса данных относительно их среднего значения. Она показывает, насколько сильно значения в наборе данных отличаются от среднего.  
В Pandas дисперсия рассчитывается с помощью метода `.var()`.

Пример:
```python
import pandas as pd

data = pd.Series([1, 2, 3, 4, 5])
variance = data.var()  # Результат: 2.0
```

---

## 3. Что такое среднеквадратичное отклонение? Рассчитать среднеквадратичное отклонение для предложенного ряда чисел.
**Среднеквадратичное отклонение (стандартное отклонение)** — это квадратный корень из дисперсии. Оно также показывает разброс данных, но в тех же единицах измерения, что и сами данные.  
В Pandas стандартное отклонение рассчитывается с помощью метода `.std()`.

Пример:
```python
import pandas as pd

data = pd.Series([1, 2, 3, 4, 5])
std_deviation = data.std()  # Результат: ~1.414
```

---

## 4. Что такое Series и чем он отличается от DataFrame?
- **Series** — это одномерная структура данных в Pandas, представляющая собой массив значений с индексами. Это аналог одномерного массива или столбца таблицы.
- **DataFrame** — это двумерная структура данных, состоящая из нескольких Series, организованных в виде таблицы с строками и столбцами.

Основное отличие:
- Series — одномерная структура.
- DataFrame — многомерная структура (таблица).

---

## 5. Можно ли изменить индекс в Series после создания объекта?
Да, индекс можно изменить после создания объекта Series с помощью атрибута `.index`.

Пример:
```python
import pandas as pd

s = pd.Series([1, 2, 3])
s.index = ['a', 'b', 'c']  # Новый индекс
```

---

## 6. Можно ли выполнить операцию сложения над двумя объектами Series?

### a) Одинаковые типы данных, одинаковые размеры и одинаковые индексы
Да, сложение будет выполнено поэлементно.

### b) Одинаковые типы данных, одинаковые размеры, но разные индексы
Да, но результат будет содержать `NaN` для несовпадающих индексов.

### c) Одинаковые типы данных, разные размеры и одинаковые индексы
Нет, так как размеры должны совпадать.

### d) Разные типы данных, одинаковые размеры и одинаковые индексы
Нет, так как операции между разными типами данных могут быть несовместимы.

### e) Разные типы данных, одинаковые размеры и разные индексы
Нет, так как и типы данных, и индексы не совпадают.

### f) Разные типы данных, разные размеры и разные индексы
Нет, так как все условия не выполняются.

---

## 7. Что такое DataFrame и чем он отличается от Series?
- **Series** — одномерная структура данных (столбец).
- **DataFrame** — двумерная структура данных (таблица), состоящая из нескольких Series.

Отличия:
- Series — один столбец данных.
- DataFrame — несколько столбцов данных, объединенных в таблицу.

---

## 8. Что необходимо сделать, чтобы число строк в DataFrame при его просмотре, по умолчанию составляло 8?
Используйте метод `.set_option()`:

```python
import pandas as pd

pd.set_option('display.max_rows', 8)
```

---

## 9. Чем отличается метод `iloc` от метода `loc`?
- **`iloc`** — выборка данных по числовому индексу (позиции).
- **`loc`** — выборка данных по меткам индекса.

Пример:
```python
df = pd.DataFrame({'A': [1, 2, 3]}, index=['x', 'y', 'z'])

print(df.iloc[0])  # Выборка по позиции (первая строка)
print(df.loc['x'])  # Выборка по метке индекса ('x')
```

---

## 10. Можно ли добавить в DataFrame дополнительный Series?
Да, можно добавить новый столбец (Series) в DataFrame:

```python
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3]})
new_series = pd.Series([4, 5, 6])

df['B'] = new_series  # Добавление нового столбца
```

---

## 11. Требуются ли установка дополнительных библиотек для загрузки с помощью pandas файлов в формате CSV? Excel (.xls)? Json?

- **CSV**: Нет, дополнительные библиотеки не требуются.
- **Excel (.xls)**: Да, требуется библиотека `xlrd` или `openpyxl`.
- **JSON**: Нет, дополнительные библиотеки не требуются.

Примеры:
```python
# CSV
df_csv = pd.read_csv('file.csv')

# Excel
df_excel = pd.read_excel('file.xls')  # Требуется xlrd/openpyxl

# JSON
df_json = pd.read_json('file.json')
```